<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    {{#feed}}
      <title>{{feed_title}}</title>
      <description>{{description}}</description>
      <link>{{feed_link}}</link>
      <copyright>{{feed_copyright}}</copyright>
      {{#items}}
        <item>
          {{#meta}}
            <title>{{title}}</title>
            <pubDate>{{updated}}</pubDate>
          {{/meta}}
          <description>{{content}}</description>
          <link>{{feed_link}}/{{link}}</link>
          <guid>{{feed_link}}/{{link}}</guid>
        </item>
      {{/items}}
    {{/feed}}
  </channel>
</rss>
