<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    {{#feed}}
      <title>{{site_title}</title>
      <description>{{description}}</description>
      <link>{{site_basedir}}</link>
      <copyright>{{copyright-info}}</copyright>
      <pubDate>{{pub-date}}</pubDate>
      <lastBuildDate>{{last-build-date}}</lastBuildDate>
      {{#items}}
        <item>
          <title>{{title}}</title>
          <description>{{content}}</description>
          <link>{{link}}</link>
          <guid>{{link}}</guid>
          <pubDate>{{published}}</pubDate>
        </item>
      {{/items}}
    {{/feed}}
  </channel>
</rss>
